.modal {
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 8;
}

.modal__window {
  width: 70%;
  max-height: 100vh;
  padding: 20px;
  background-color: var(--color-background);
  border-radius: 10px;
}

.tools {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 20px;
}

.modal__window-close {
  background-color: var(--color-background);
  border: none;
}

.close-icon {
  display: flex;
  stroke: white;
  transition: 0.2s;
}

.close-icon:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.reset-button {
  width: 20px;
  stroke: white;
  transition: 0.2s;
}

.reset-button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.modal__window-elements {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 20px;
}

.element__btn-prev {
  margin-right: auto;
}

.element__btn-prev img {
  width: 80px;
  transition: 0.2s;
}

.element__btn-prev img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.element__btn-next {
  margin-left: auto;
}

.element__btn-next img {
  width: 80px;
  transition: 0.2s;
}

.element__btn-next img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.element__img {
  max-width: 100%;
}

.modal__window-info {
  display: flex;
  justify-content: center;

  margin-top: 20px;

  font-size: 24px;
  color: white;
}

@media screen and (max-width: 785px) {
  .element__btn-prev img {
    width: 60px;
  }
  .element__btn-next img {
    width: 60px;
  }
}

@media screen and (max-width: 550px) {
  .modal__window-info {
    font-size: 16px;
  }
}

@media screen and (max-width: 405px) {
  .element__btn-prev img {
    width: 40px;
  }
  .element__btn-next img {
    width: 40px;
  }
}
