.images {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, auto));
  gap: 24px;
  justify-content: center;
}

.images__item {
  width: 400px;
  border-radius: 10px;
  transition: all 0.5s ease;
}

.images__item:hover {
  cursor: pointer;
  transform: scale(1.05);
}

@media screen and (max-width: 480px) {
  .images {
    grid-template-columns: repeat(auto-fill, minmax(300px, auto));
  }
  .images__item {
    width: 300px;
  }
}
