footer {
  width: 100%;
  text-align: center;
  margin-bottom: 8px;
}

.name-tag {
  color: white;
  animation-name: appearance-nametag;
  animation-duration: 3s;
}

@keyframes appearance-nametag {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
